<div class="panel panel-primary">
   <div class="panel-heading">
     <h1><%= @student.name %></h1>
     <h4><%= @student.batch.name %></h4>
     </div>
    <div class="panel-body">
      <%= image_tag @student.image, class: "medium-image-size" %>

      <% @student.dailyevaluations.each do |dailyevaluation| %>
        <p><%= dailyevaluation.evaluation %></p>
        <p><%= dailyevaluation.date %></p>
        <p><%= dailyevaluation.remark %></p>
      <% end %>

    </div>
</div>

<%= link_to "All Students", batch_path(@student.batch.id), class: "btn btn-default" %>
