<div class="panel panel-primary">
   <div class="panel-heading">
     <h1><%= @student.name %></h1>
     <h4><%= @student.batch.name %></h4>
     </div>
    <div class="panel-body">
      <%= image_tag @student.image, class: "medium-image-size" %>
      <br/><br/><br/><br/>

      <%= link_to "Evaluation today", new_batch_student_dailyevaluation_path(@student.batch.id, @student.id), class: "btn btn-primary" %><br/><br/><br/>

      <b> Previous Evaluations: <br/><b>
      <br/>
      <p><% @student.dailyevaluations.each do |dailyevaluation| %></p>
        <p>Day: <%= dailyevaluation.date %></p>
        <% if dailyevaluation.evaluation %>
          <% if dailyevaluation.evaluation == "excellent" %>
            <a href="#" class="btn btn-success"></a>
          <% end %>
          <% if dailyevaluation.evaluation == "good" %>
            <a href="#" class="btn btn-warning"></a>
          <% end %>
          <% if dailyevaluation.evaluation == "bad" %>
            <a href="#" class="btn btn-danger"></a>
          <% end %>
        <% end %>
        <p>Remark: <%= dailyevaluation.remark %></p>
        <%= link_to "Edit", edit_batch_student_dailyevaluation_path(@student.batch.id, @student.id, dailyevaluation.id), class: "btn btn-default" %>
        <br/><br/>
      <% end %>
      </div>
    </div>

<%= link_to "All Students", batch_path(@student.batch.id), class: "btn btn-default" %>

<br/>
<hr>
