<h1>Batches</h1>

<% @batches.each do |batch| %>
    <p><%= link_to batch.name, batch_path(batch.id) %></p>
    <p>Start at: <%= batch.start %></p>
    <p>End at: <%= batch.end %></p>
    <label>Number of students: <%= batch.students.length %></label>
    <br/><br/>
<% end %>

<br/>
<%= link_to "New Batch", new_batch_path, class: "btn btn-primary" %>
