<h1><%= @batch.name %></h1>

<p>Start at: <%= @batch.start %></p>
<p>End at: <%= @batch.end %></p>


<h1>List of students:</h1>

<% @batch.students.each do |student| %>
  <p><%= link_to student.name, batch_student_path(student.batch.id, student.id) %></p>
  <%= image_tag student.image %>
<% end %>

<br><br>
<%= link_to "[Add New Student]" %>
<br><br>
<%= link_to "[All Batches]", root_path %>
