<h1><%= @batch.name %></h1>

<p>Start at: <%= @batch.start %></p>
<p>End at: <%= @batch.end %></p>
<label>Number of students: <%= @batch.students.length %></label>

<br/><br/>
<button type="button" class="btn btn-primary">ASK A QUESTION</button>
<br/><br/>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">30%</div>
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">20%</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"> <h1>Students</h1> </div>
    <div class="panel-body">
      <div class="row">

        <% @batch.students.each do |student| %>

      <div class="col-sm-2">
        <div class="col-sm-12">
          <p><%= link_to student.name, batch_student_path(student.batch.id, student.id) %></p>
        </div>
        <div class="col-sm-12">
          <%= image_tag student.image, class: "small-image-size" %>
        </div>
        <div class="col-sm-12">
          <%= link_to "Edit", edit_batch_student_path(@batch, student), class: "btn btn-default" %>
          <%= link_to "Delete", batch_student_path(@batch, student), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" }  %>
        </div>
      </div>
        <% end %>
      </div>
      </div>
    </div>

<%= link_to "Add New Student", new_batch_student_path(@batch), class: "btn btn-primary" %>
<br/><br/>
<%= link_to "All Batches", root_path, class: "btn btn-default" %>
