<%= form_for [@batch, @student, @dailyevaluation] do |f| %>
  <hr>
  <p>Legend:</p>
  <a href="#" class="btn btn-success">excellent</a>
  <a href="#" class="btn btn-warning">good</a>
  <a href="#" class="btn btn-danger">bad</a>
  <hr>
  <div class="form-group">
    <%= f.label :evaluation %>
    <div>
        <%= f.select :evaluation, [["excellent"], ["good"], ["bad"]], class: "form-control" %><br/>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <div>
        <%= f.date_select :date, class: "form-control" %><br/><br/>
    </div>
  <div class="form-group">
    <%= f.label :remark %><br/>
    <%= f.text_area :remark, placeholder: "Remark...", class: "form-control" %><br/>
  </div>
  <div class="form-group">
    <%= f.submit (@dailyevaluation.new_record? ? "Save" : "Update"), class: "btn btn-primary" %>
    <%= f.submit (@dailyevaluation.new_record? ? "Save and next" : "Update and next"), name: "save_next", class: "btn btn-primary" %>
  </div>
<% end %>
